.Buttons {
  box-sizing: border-box;
  padding: 7px;
}

.Button {
  width: auto;
  border-radius: 5px;
  font-size: 18px;
  padding: 4px;
  background-color: #66ffff
}

.Button:hover {
 background-color: #bf00ff;
  border: 2px solid white;
  color:  #ffffff

}

.Button:active {
  color: #ffff4d;
  background-color: inherit;
}
