.Rows{
  //background-color:  #ffffff;
  padding: 4px;
  background-color: #e6e6ff;
}

.Row{
  margin-left: 10px;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

 .Rows:last-child{
   border-top: 2px solid
 }
