
.Container{
  display: flex;
  justify-content: center;
  margin-bottom: 10px

}

.App{
  display: block;
  position: relative;
  border: 3px solid black;
  border-radius: 10px;
  box-sizing:border-box;
  background-color: #4d0026;
  margin-top: 125px;
  width: 350px;

}
.Panel{
  display: flex;
}
