.github-open{
  box-sizing: border-box;
  display: flex;
  flex:initial;
  flex-flow: column;
  flex-direction: column;
  flex-wrap: initial;
  background-color: #ffff33;
  margin-top: 130px;
  height: 600px;
  margin-bottom: 10px;
  width: 300px;
  position: relative;
  border-left: 3px solid white;
  border-radius: 10px;
  box-shadow: 0 5px 40px #ffff33,1px 1px 10px #ffffff;
  overflow: hidden;
  // animation-duration: 4s;
}
.github-close {
   display: none;
   background-color: red
}

.links{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 10%


}
