.panel {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  flex-wrap: initial;
  background-color: #000066;
  margin-top: 130px;
  width: 300px;
  height: 600px;
  position: relative;
  border-left: 3px solid white;
  border-radius: 10px;
  box-shadow: 0 5px 40px  #0000ff,1px 1px 10px  #ffffff; }

.panel-screen {
  display: flex;
  flex-grow: 5;
  margin: 5px; }
  .panel-screen textarea {
    flex-grow: 2;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
    font-size: 18px; }

.panel-body {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 5px; }
  .panel-body .result-button {
    box-sizing: border-box;
    flex-grow: 2;
    background-color: #ffccff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    border: 2px solid #ffffff;
    margin: 2px;
    transition-duration: 0.1s; }
  .panel-body .result-button:hover {
    outline: none;
    box-shadow: 0 5px 10px 2px #ffffff,0 5px 20px 0 #0000ff;
    transition-duration: 0.7s; }
  .panel-body .result-button:active {
    background-color: #0000ff;
    font-weight: bold;
    color: #ffff00;
    outline: none;
    transition-duration: 0.1s;
    border: 2px solid #0000ff;
    box-shadow: 0 5px 50px 0 #0000ff,0 5px 20px 0 #ffffff; }
  .panel-body label {
    flex-grow: 1;
    color: white; }
  .panel-body span:hover {
    box-shadow: 0 5px 50px 0 #0000ff,0 5px 20px 0 #ffffff; }
