.Screen {
  border: 1px solid #e6e6ff;
  margin: 5px;
  border-radius: 5px; }

.no-arc, .arc {
  padding: 3px;
  margin: 4px 10px;
  width: 30px;
  color: #4d0026;
  transition-duration: 0.5s; }

.arc {
  color: #ffff00;
  box-shadow: 0 12px 16px 2px  #ffffff,0 10px 20px 0  #ffff1a;
  border-radius: 5px; }
