.programIdDiv {
  display: flex;
  background-color: #00b3b3;
  justify-content: center;
  border-radius: 8px; }
  .programIdDiv p {
    font-size: 16px;
    font-style: oblique;
    font-weight: bold;
    margin-top: 5px; }

.panel-open {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  flex-wrap: initial;
  background-color: #000066;
  margin-top: 130px;
  width: 300px;
  height: 600px;
  position: relative;
  border-left: 3px solid white;
  border-radius: 10px;
  box-shadow: 0 5px 40px #0000ff,1px 1px 10px #ffffff;
  animation-name: example;
  animation-duration: 4s; }

.panel-close {
  display: none; }

@-webkit-keyframes example {
  from {
    background-color: #ffffff; }
  to {
    background-color: #000066; } }

.programName-close {
  display: none; }

.programName-open {
  display: block;
  margin: 5px; }
  .programName-open label {
    margin-right: 10px;
    display: flex;
    flex-direction: row; }
  .programName-open span {
    margin-top: 10px;
    color: #ffffff;
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold; }
  .programName-open input {
    margin: 8px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
    color: #000066; }

.panel-screen {
  display: flex;
  flex-grow: 20;
  margin: 5px; }
  .panel-screen textarea {
    flex-grow: 2;
    border-radius: 7px;
    padding: 15px;
    background-color: #ffffff;
    font-size: 23px;
    font-weight: bold;
    font-style: oblique;
    color: #000066;
    resize: none; }

.panel-body {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 5px; }
  .panel-body label {
    flex-grow: 1;
    color: white; }
  .panel-body span:hover {
    box-shadow: 0 5px 50px 0 #0000ff,0 5px 20px 0 #ffffff; }

.result-button, .clean-button, .refine-button, .db-button, .saveProgram, .OPenProgramName, .open-panel {
  box-sizing: border-box;
  flex-grow: 1;
  background-color: #ffccff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
  border: 2px solid #ffffff;
  margin: 2px;
  transition-duration: 0.1s;
  outline: none; }
  .result-button:hover, .clean-button:hover, .refine-button:hover, .db-button:hover, .saveProgram:hover, .OPenProgramName:hover, .open-panel:hover {
    cursor: grabbing;
    outline: none;
    box-shadow: 0 5px 10px 2px #ffffff,0 5px 20px 0 #0000ff;
    transition-duration: 0.7s; }
  .result-button:active, .clean-button:active, .refine-button:active, .db-button:active, .saveProgram:active, .OPenProgramName:active, .open-panel:active {
    background-color: #0000ff;
    font-weight: bold;
    color: #ffff00;
    outline: none;
    transition-duration: 0.1s;
    border: 2px solid #0000ff;
    box-shadow: 0 5px 50px 0 #0000ff,0 5px 20px 0 #ffffff; }

.clean-button {
  height: 119px;
  margin-bottom: -35px;
  width: 50px; }
  .clean-button:active {
    color: red; }

.refine-button {
  height: 119px;
  margin-bottom: -35px;
  width: 50px; }
  .refine-button:active {
    color: #47d147; }

.small-keys {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 10px; }

.db-button {
  padding: 3px;
  width: 50px;
  height: 30px;
  margin-bottom: 20px; }

.rec-off, .rec-on {
  flex-basis: auto;
  color: #e6e6e6;
  width: 40px;
  border-radius: 50%;
  font-size: 18px;
  padding: 4px;
  background-color: #660000;
  box-shadow: 0 5px 5px #66ccff , 0 5px 10px #0000ff;
  outline: none;
  height: 30px;
  margin-left: 3px;
  margin-bottom: 10px; }
  .rec-off:hover, .rec-on:hover {
    cursor: grabbing; }

.rec-on {
  background-color: #ffffff;
  box-shadow: 0 5px 5px #ff9999 , 0 5px 10px #ffff33;
  color: red; }

.saveProgramDiv {
  display: flex; }

.saveProgram, .OPenProgramName {
  flex-grow: 6;
  font-size: 2.3em;
  margin: 4px; }

.OPenProgramName {
  flex-grow: 1; }

.Screen {
  border: 1px solid #e6e6ff;
  margin: 5px;
  border-radius: 5px; }

.no-arc, .arc {
  padding: 3px;
  margin: 4px 10px;
  width: 30px;
  color: #4d0026;
  transition-duration: 0.5s; }

.arc {
  color: #ffff00;
  box-shadow: 0 12px 16px 2px #ffffff,0 10px 20px 0 #ffff1a;
  border-radius: 5px; }

.screen-key {
  display: flex; }

.open-panel {
  font-weight: bold;
  font-size: 1.8em; }
